@model TransporteParticularWeb.Models.TransporteModels.Cliente

@{
    ViewData["Title"] = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Dados Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeCliente)
        </dd>
        <dt>
            Data Nascimento:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt>
            Sexo:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sexo)
        </dd>
        <dt>
           CPF:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt>
            Numero Celular:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumeroCelular)
        </dd>
        <dt>
            Email:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>   
        <dt>
            Data Cadastro:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>
        <dt>
           Deficiencia:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Deficiencia)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a class="btn btn-primary" asp-action="Index">Voltar</a>
</div>
